{% extends "header.html" %}

{% block body %}

<p>Du willst dich also für den Kurs {{course}} anmelden du Arschloch ????</p>

<form  class="form-signin" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputVorname">Vorname</label>
      <input type="text" class="form-control" id="inputVorname" name="vorname" placeholder="Vorname">
    </div>
    <div class="form-group col-md-6">
      <label for="inputNachname">Nachname</label>
      <input type="text" class="form-control" id="inputNachname" name="nachname" placeholder="Nachname">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputGeb">Geburtsdatum</label>
      <input type="text" class="form-control" id="inputGeb" name="geb" placeholder="Geburtsdatum im Format TT.MM.JJJJ">
    </div>
    <div class="form-group col-md-6">
      <label for="inputaddress">Adresse</label>
      <input type="text" class="form-control" id="inputaddress" name="address" placeholder="Adresse">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Ort</label>
      <input type="text" class="form-control" id="inputCity" name="ort">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>


{% endblock %}