{% extends "header.html" %}

{% block body %}

<h1>Willkommen bei der Kursauswahl</h1>

{% set cnt = [0] %} <!-- Counter, falls keine Kurse angezeigt werden soll eine ersatzmeldung gezeigt werden -->

<!-- Schleife für jeden Kurs der sich in der Liste befindet -->
{%for title, content in c_list%}

<!-- Wenn der Kurs voll ist wird er nicht angezeigt -->
{% if content[7]|length < content[5] %}

<div class="card mb-3">

    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{content[0]}}
            <br> Datum: {{content[1][0]}}.{{content[1][1]}}.{{content[1][2]}}
            <br> Zeit: {{content[2][0]}}:{{content[2][1]}} UHR
            <br> Ort: {{content[3]}}
        </p>

        <button class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#anmelden{{cnt[0]}}"
                aria-expanded="false" aria-controls="anmelden">
            Anmelden
        </button>
        <!-- Anmeldung an den Kurs -->
        <div class="collapse" id="anmelden{{cnt[0]}}">
            <form class="form-signin mt-3" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputVorname">Vorname</label>
                        <input type="text" class="form-control" id="inputVorname" name="vorname" placeholder="Vorname"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputNachname">Nachname</label>
                        <input type="text" class="form-control" id="inputNachname" name="nachname"
                               placeholder="Nachname" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputGeb">Geburtsdatum</label>
                        <input type="date" class="form-control" id="inputGeb" name="geb"
                               placeholder="Geburtsdatum im Format TT.MM.JJJJ" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputaddress">Adresse</label>
                        <input type="text" class="form-control" id="inputaddress" name="address" placeholder="Adresse"
                               required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Ort</label>
                        <input type="text" class="form-control" id="inputCity" name="ort" required>
                    </div>
                </div>
                <!-- Fuer die Identifikation des Kurses wird der Name, welcher der Key des Kurs Dict ist, mitgegeben -->
                <button name="btn" value="{{title}}" type="submit" class="btn btn-primary">Sign in</button>
            </form>

        </div>

    </div>
</div>
<!-- Counter für Kurse -->
{% if cnt.append(cnt.pop() + 1) %}{% endif %}
{%endif%}

{%endfor%}

<!-- Ersatzmeldung-->
{% if cnt[0] == 0 %}
<h3>Zurzeit sind keine Kurse ausgeschrieben.</h3>
<p>Schauen Sie später nocheinmal vorbei!</p>
{%endif%}

{% endblock %}