{% extends "header.html" %}

{% block body %}

<h1>Willkommen bei der Kursauswahl</h1>

{% set cnt = [0] %} <!-- Counter, falls keine Kurse angezeigt werden soll eine ersatzmeldung gezeigt werden -->
{%for title, content in c_list%}

<!-- Wenn der Kurs voll ist wird er nicht angezeigt -->
{% if content[7]|length < content[5] %}

<div class="card mb-3">

  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content[0]}}
      <br> Datum: {{content[1]}}
      <br> Zeit: {{content[2]}}
      <br> Ort: {{content[3]}}
    </p>
    <form class="form-signin" method="POST">
      <button name="signup" class="btn btn-primary" type="submit" value="{{title}}">Anmelden</button>
    </form>
  </div>
</div>
{% if cnt.append(cnt.pop() + 1) %}{% endif %}
{%endif%}

{%endfor%}

{% if cnt[0] == 0 %}
<h1>Zurzeit sind keine Kurse ausgeschrieben.</h1>
<p>Schauen Sie später nocheinmal vorbei!</p>
{%endif%}

{% endblock %}